<body>
    <%- include('../partials/header.ejs') %>

        <section class="section_all bg-light" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section_title_all text-center">
                            <h3 class="font-weight-bold">Welcome To <span class="text-custom">Young Africans
                                    Technology</span></h3>
                            <!-- <p class="section_subtitle mx-auto text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br/>Lorem Ipsum has been the industry's standard dummy text.</p>
                        <div class="">
                            <i class=""></i>
                        </div> -->
                        </div>
                    </div>
                </div>

                <div class="row vertical_content_manage mt-5">
                    <div class="col-lg-6">
                        <div class="about_header_main mt-3">
                            <!-- <div class="about_icon_box">
                            <p class="text_custom font-weight-bold">Lorem Ipsum is simply dummy text</p>
                        </div> -->
                            <h4 class="about_heading text-capitalize font-weight-bold mt-4">Young African Technology is
                                a non-profit (completely free) coding academy founded by Kingsley Chukwuma in January
                                2021.</h4>
                            <p class="text-muted mt-3" style="">Young African Technology is a non-profit (completely
                                free) coding academy founded by Kingsley Chukwuma in January 2021. Kingsley is a
                                computer programmer who is now fully committed to usig his coding skills to empower
                                those who are not privileged to acquire such a skill for free.</p>

                            <p class="text-muted mt-3">The motivation behind his interest to teach coding to kids and
                                high school students in disadvantaged communities was when he discovered that 90 percent
                                of kids and youths in poor communities have never heard about coding before. The only
                                word they are familiar with is I.T (information technology) but their knowledge of I.T
                                is only about fixing computers. So, it got him worried that kids and youths from the
                                suburbs have the privilege of learning basic coding or even hearing about it from high
                                school or friends, but most people from poor communities don't have this opportunity.
                            </p>
                            <p class="text-muted mt-3">He decided to teach kids and teenagers coding as an after-school
                                program. in the beginning, he didn't have enough computers to teach them and people that
                                showed interest were more than 15, he had only one computer then but that didn't stop
                                him from teaching 15 teenagers with one computer for a few months before God opened the
                                door for people to donate more computers.</p>
                            <br>
                            <p>We have two physical classrooms (onsite). The first classroom was established in January
                                2021,
                                and the second classroom (second branch) in June 2022, and we also have online class</p>
                            <br>
                            <h5> We have students from 10 years to 18 and we teach two classes a day.</h>

                        </div>
                        <hr>
                        <div class="what-we-tech">
                            <div style="font-size: 25px; font-weight: bold; margin-top: 34px; color: rgb(0, 56, 7);">
                                WHAT WE TEACH:</div>
                            <br>
                            <ol>
                                <li style="list-style: index">Computer literacy and touch typing.</li>
                                <li style="list-style: index"> Ubuntu Operating System</li>
                                <li style="list-style: index"> Python.</li>
                                <li style="list-style: index">Javascript.</li>
                                <li style="list-style: index">HTML (Hyper-text Markup Language)</li>
                                <li style="list-style: index">CSS (Cascading Style Sheet).</li>
                                <li style="list-style: index">Node.js: an open-source, cross-platform runtime
                                    environment for developing server-side and networking applications.</li>
                                <li style="list-style: index">ExpressJs: A back end web application framework for
                                    Node.js</li>
                                <li style="list-style: index"> Django and Flask: Python web framework for building
                                    applications.</li>
                                <li style="list-style: index">ReactJs: React is a free and open-source front-end
                                    JavaScript library for building user interfaces based on UI components.</li>

                                <br>
                                <li style="list-style: index">Reactnative For Cross-platform mobile applications
                                    development</li>
                                <br>
                                <li style="list-style: index">Robotics with Ros2, Arduino, Microbit</li>
                                <li style="list-style: index">Artificial intelligence</li>

                            </ol>
                            <hr>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="img_about mt-3">
                            <img src="/images/kingsley.jpg" alt="" class="img-fluid mx-auto d-block">
                        </div>
                    </div>
                </div>

                <!-- <div class="row mt-3">
                <div class="col-lg-4">
                    <div class="about_content_box_all mt-3">
                        <div class="about_detail text-center">
                            <div class="about_icon">
                                <i class="fas fa-pencil-alt"></i>
                            </div>
                            <h5 class="text-dark text-capitalize mt-3 font-weight-bold">Creative Design</h5>
                            <p class="edu_desc mt-3 mb-0 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="about_content_box_all mt-3">
                        <div class="about_detail text-center">
                            <div class="about_icon">
                                <i class="fab fa-angellist"></i>
                            </div>
                            <h5 class="text-dark text-capitalize mt-3 font-weight-bold">We make Best Result</h5>
                            <p class="edu_desc mb-0 mt-3 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="about_content_box_all mt-3">
                        <div class="about_detail text-center">
                            <div class="about_icon">
                                <i class="fas fa-paper-plane"></i>
                            </div>
                            <h5 class="text-dark text-capitalize mt-3 font-weight-bold">best platform </h5>
                            <p class="edu_desc mb-0 mt-3 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                        </div>
                    </div>
                </div> -->
            </div>
            </div>
        </section>

</body>

<style>
    .text-muted {
        color: black !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #2c3145;
    }

    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        outline: none;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .section_all {
        position: relative;
        padding-top: 165px;
        padding-bottom: 80px;
        min-height: 100vh;
    }

    .section-title {
        font-weight: 700;
        text-transform: capitalize;
        letter-spacing: 1px;
    }

    .section-subtitle {
        letter-spacing: 0.4px;
        line-height: 28px;
        max-width: 550px;
    }

    .section-title-border {
        background-color: #000;
        height: 1 3px;
        width: 44px;
    }

    .section-title-border-white {
        background-color: #fff;
        height: 2px;
        width: 100px;
    }

    .text_custom {
        color: #00bd2a;
    }

    .about_icon i {
        font-size: 22px;
        height: 65px;
        width: 65px;
        line-height: 65px;
        display: inline-block;
        background: #fff;
        border-radius: 35px;
        color: #00bd2a;
        box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
    }

    .about_header_main .about_heading {
        max-width: 450px;
        font-size: 17px;
    }

    .about_icon span {
        position: relative;
        top: -10px;
    }

    .about_content_box_all {
        padding: 28px;
    }
</style>

</html>