<h2> New Post</h2>

<form action="/posts/edit/<%=post._id %>" method="POST" enctype="multipart/form-data">
    <%- include('_form_fields') %>
    <a href="/posts">Cacel</a>
    <button type="submit">Update</button>
</form>